<div class="overflow-hidden">
    <form action="" [formGroup]="userinfoForm">

    <div class="h-screen" style="background-color: #262626;" *ngIf="currentStep === 1" data-aos="zoom-in" data-aos-duration="3000">
        <img src="../../assets/images/Cone-b.png" class="absolute right-40" style="height: 180px; width: 353px;">
        <img src="../../assets/images/Cone-a.png" class="absolute bottom-0" style="height:375px ; width:195px ;">
        <img src="../../assets/images/Cylinder 4.png" class="absolute bottom-0 right-1/4"
            style="height: 148px; width: 288px;">
    
        <div class="w-1/2 h-20 absolute right-64 top-10">
            <span class="font-medium text-5xl text-white">
                Confirm your
            </span>
            <span class="font-medium text-5xl text-orange-600">
                username
            </span>
        </div>
    
        <div class=" absolute top-40 left-64" style="height:300px ; width: 735px;">
            <div class="bg-purple-300 rounded-full overflow-hidden" style="height:300px ; width:300px ;">
                <img src="../../assets/images/Saly-10.png" class="">
            </div>
            <div class="absolute left-1/2 bottom-28 focus:border-none" style="height:70px ; width:435px ;">
                <form [formGroup]="userinfoForm" (ngSubmit)="gotoNextStep()">
                    <input type="text" placeholder="User_Name" formControlName="userName"
                        class="bg-transparent h-full w-full font-semibold text-4xl text-white focus:border-none focus:outline-none" required>
                    <div *ngIf="userinfoForm.controls.userName.invalid && (userinfoForm.controls.userName.dirty || userinfoForm.controls.userName.touched)" class="text-red-500" >
                        Please enter the username
                    </div>
                    <!-- <button class="text-orange-300 text-2xl cursor-pointer" type="submit" (click)="gotoNextStep()">Next</button> -->
                </form>
            </div>
        </div>
    
        <div class=" h-20 w-20 absolute right-56 bottom-20 flex items-center justify-center">
            <button class="text-orange-300 text-2xl cursor-pointer" type="submit" (click)="gotoNextStep()">Next</button>
        </div>
    </div>

    <div class="h-screen" style="background-color: #262626;" *ngIf="currentStep === 2" data-aos="zoom-in" data-aos-duration="3000">
        <div class="flex justify-center items-center text-white">
            <img src="../../assets/images/Mask group.png" alt="" class="w-48 h-44 -mr-12 -mt-1">
            <div class="text-5xl font-bold -mt-9">Select your <span class="text-yellow-300">Profession</span></div>
        </div>
        <form [formGroup]="userinfoForm" (ngSubmit)="gotoNextStep()">
            <div class="flex flex-col">
                <div class="flex flex-row gap-2 justify-center items-center mt-10">
                    <div *ngFor="let option of options" 
                         class="flex flex-col justify-center items-center text-white text-2xl font-bold"
                         (click)="selectOption(option)">
                        <div><img [src]="option.image" alt="" class="h-64 w-64"></div>
                        <div>{{option.text}}</div>
                    </div>
                </div>
                <div class="flex justify-center text-orange-300 text-2xl mt-10">
                    <button type="submit" [disabled]="!userinfoForm.valid">Next</button>
                </div>
            </div>
        </form>
        
    </div>


 
<div class="h-screen" style="background-color: #262626;" *ngIf="currentStep === 3" data-aos="zoom-in" data-aos-duration="3000">
    <div class="flex justify-center items-center text-white">
        <img src="../../assets/images/Mask group(2).png" alt="" class="w-48 h-44 -mr-12 -mt-1">
        <div class="text-5xl font-bold -mt-9 -ml-10">Select your <span class="text-purple-600">Interests</span></div>
    </div>
    <div class="" *ngIf="languageStep == 1">
        <div class="flex flex-col justify-center items-center text-white font-bold">
            <div class="text-3xl">Frontend</div>
            <div class="text-xs font-thin">you can either select or skip</div>
        </div>
        <div class="text-yellow-300 text-base flex justify-end mr-64 -mt-10"><button (click)="gotoNextTopic()">{{ selectedLanguage ? 'Next' : 'Skip' }}</button>
        </div>
        <div class="flex flex-col justify-center items-center pt-20">
            <div class="grid grid-cols-5 gap-5" >
                <div *ngFor="let temp of frontendDataList; let i = index">
                    <div class="bg-black h-28 w-28 text-white font-bold text-xl flex justify-center items-center rounded-2xl" *ngIf="i < 10" (click)="selectLanguage(temp.name)" >
                      {{ temp.name }}
                    </div>
                  </div>
                  
            </div>
            <div class="text-yellow-500"><button>View More</button></div>
        </div>
    </div>
    <div *ngIf="languageStep == 2" data-aos="slide-left" data-aos-duration="3000" class="overflow-hidden">
        <div class="flex flex-col justify-center items-center text-white font-bold">
            <div class="text-3xl">Backend</div>
            <div class="text-xs font-thin">you can either select or skip</div>
        </div>
        <div class="text-yellow-300 text-base flex justify-end mr-64 -mt-10"><button (click)="gotoNextTopic()">skip</button></div>
        <div class="flex flex-col justify-center items-center pt-20">
            <div class="grid grid-cols-5 gap-5">
                <div *ngFor="let temp of backendDataList; let i = index">
                    <div class="bg-black h-28 w-28 text-white font-bold text-xl flex justify-center items-center rounded-2xl" *ngIf="i < 10">
                        {{ temp.name }}
                    </div>
                </div>
            </div>
            <div class="text-yellow-500"><button>View More</button></div>
        </div>
    </div>
    <div *ngIf="languageStep == 3" data-aos="slide-left" data-aos-duration="3000" class="overflow-hidden">
        <div class="flex flex-col justify-center items-center text-white font-bold">
            <div class="text-3xl">Database</div>
            <div class="text-xs font-thin">you can either select or skip</div>
        </div>
        <div class="text-yellow-300 text-base flex justify-end mr-64 -mt-10"><button (click)="gotoNextTopic()">skip</button></div>
        <div class="flex flex-col justify-center items-center pt-20">
            <div class="grid grid-cols-5 gap-5">
                <div *ngFor="let temp of databaseDataList; let i = index">
                    <div class="bg-black h-28 w-28 text-white font-bold text-xl flex justify-center items-center rounded-2xl" *ngIf="i < 10">
                        {{ temp.name }}
                    </div>
                </div>
            </div>
            <div class="text-yellow-500"><button>View More</button></div>
        </div>
    </div>
    <div *ngIf="languageStep == 4" data-aos="slide-left" data-aos-duration="3000" class="overflow-hidden">
        <div class="flex flex-col justify-center items-center text-white font-bold">
            <div class="text-3xl">Other</div>
            <div class="text-xs font-thin">you can either select or skip</div>
        </div>
        <div class="text-yellow-300 text-base flex justify-end mr-64 -mt-10"><button routerLink="/userhome">skip</button></div>
        <div class="flex flex-col justify-center items-center pt-20">
            <div class="grid grid-cols-5 gap-5">
                <div *ngFor="let temp of otherDataList; let i = index">
                    <div class="bg-black h-28 w-28 text-white font-bold text-xl flex justify-center items-center rounded-2xl" *ngIf="i < 10">
                        {{ temp.name }}
                    </div>
                </div>
            </div>
            <div class="text-yellow-500"><button>View More</button></div>
        </div>
    </div>
</div>

<!-- <div class="h-screen" style="background-color: #262626;">
    <div class="flex justify-center items-center text-white">
        <img src="../../assets/images/Mask group(2).png" alt="" class="w-48 h-44 -mr-12 -mt-1">
        <div class="text-5xl font-bold -mt-9 -ml-10">Select your <span class="text-purple-600">Interests</span></div>
    </div>
    
</div> -->

<!-- <div class="h-screen" style="background-color: #262626;">
    <div class="flex justify-center items-center text-white">
        <img src="../../assets/images/Mask group(2).png" alt="" class="w-48 h-44 -mr-12 -mt-1">
        <div class="text-5xl font-bold -mt-9 -ml-10">Select your <span class="text-purple-600">Interests</span></div>
    </div>
    
</div> -->

<!-- <div class="h-screen" style="background-color: #262626;">
    <div class="flex justify-center items-center text-white">
        <img src="../../assets/images/Mask group(2).png" alt="" class="w-48 h-44 -mr-12 -mt-1">
        <div class="text-5xl font-bold -mt-9 -ml-10">Select your <span class="text-purple-600">Interests</span></div>
    </div>
    
</div> -->
</form>
</div>