<div class="main" style="height: auto; width: 100%">
    <div class="first_page" style="background-color: #286EE6;">
        <div class=" absolute w-full h-screen" style="background-color: #286EE6;">
            <img src="../../assets/images/BACKGROUNDLOCK.svg" alt="" class="h-screen">
        </div>
        <div class="flex flex-row justify-between text-white py-8 px-5 relative">
            <div class="flex flex-row justify-center gap-2 align-middle items-center">
                <div><img src="../../assets/images/Rectangle 42.svg" alt=""></div>
                <div class="font-bold flex-col flex gap-0 text-sm tracking-widest" >ACADEMIA HUB <span class="font-semibold text-xs tracking-normal"> Learn, Collaborate, Succeed </span></div>
            </div>
            <div class="flex gap-5 text-2xl font-bold">
                <div>Home</div>
                <div>Courses</div>
                <div>Quiz</div>
                <div>About</div>
                <div>Help</div>
            </div>
            <div class="pr-10">
                <button class="rounded-3xl px-8 py-1 text-black bg-yellow-400 font-bold">Login</button>
            </div>
        </div>
        <div class="flex flex-row justify-center items-center relative gap-14 pt-10 pl-32">
            <div class="flex flex-col gap-5 text-white mt-14 text-end w-1/2"  data-aos="fade-up" data-aos-duration="3000">
                <span class="text-4xl font-bold">Venture into the Vast <br>
                    Universe of Technology!
                </span>
                <span class="text-2xl">Join thousands of developers, programors who 
                        are there to help your doubts and provide a 
                        analytical approach to the problem. 
                        Embark on the courses with a pinch of quizes
                </span>
            </div>
            <div class="w-96 h-80">
                <img src="../../assets/images/Saly-10.png" alt="" class="w-96 h-80">
            </div>
        </div>
        <div class="flex flex-row justify-center w-full">
            <div class="relative flex justify-center mt-16">
                <button class="rounded-full bg-black text-white font-bold px-28 py-2 text-2xl">Explore</button>
            </div>
            <div class="absolute flex justify-end h-72 right-0 mt-8">
                <img src="../../assets/images/Cones-2-metallic.png" alt="">
            </div>
        </div>
    </div>
    
    <div class="second_page h-screen" style="background-color: #262626;">
        <div class="flex flex-row gap-16">
            <div class="h-screen" style="background-color: #262626;">
                <div class="relatve pt-36">
                    <img src="../../assets/images/swatch.png" alt="" class="w-72 h-48">
                </div>
                <div class="relative -top-20">
                    <img src="../../assets/images/17.png" alt="" class="w-32 h-56">
                </div>
                <div class=" relative -top-80 ml-44" data-aos="fade-in" data-aos-duration="1500">
                    <img src="../../assets/images/1.png" alt="" class="h-80 w-72">
                    <img src="../../assets/images/card-progress.png" alt="" class="w-64 h-36 -mt-16 -ml-32">
                </div>
            </div>
            <div class="flex flex-col gap-3 text-white justify-center ">
                <span class="text-5xl font-bold">Wide Selection of <span class="text-green-300">Courses</span></span>
                <span class="text-lg text-gray-400 mt-5">The Academia hub persoms analysics <br> n dhs hewbufr buwrieg5 bireg jkrbuei</span>
                    <span class="font-bold">We offer Paid and free courses</span>
                    <button class="bg-zinc-900 rounded-full px-20 py-2 text-lg w-fit mt-5">Book your course for free!</button>
            </div>
        </div>
    </div>

    <div class="third_page h-screen" style="background-color: #262626;">
        <div>

        </div>
    </div>
</div>