input{
	outline: none;
	text-indent: 5px;
}
.message
{
	width: fit-content;
	height: fit-content;
	background-color: aqua;
	margin: 2px 2px 2px 2px;
	border-radius: 10px;
	color: black;
	padding: 2px 6px;
}
.right
{
	float: right;
	clear: both;
}
.left
{
	float: left;
	clear: both;
}