<div class="h-screen w-screen fixed" style="background-color: rgb(38, 38, 38);">
	<p class="h-auto text-white text-center relative top-5 text-[48px] font-bold">Select your <span class="text-yellow-500">Profession</span></p>
	<div class="h-[48%] w-[1500px] relative top-32 overflow-hidden">
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
		<div class="float-left -left-28 top-[50%] relative translate-y-[-50%]"><img class="h-full w-[98%]" src="assets/images/ring.png" alt="image not found"/></div>
	</div>
	<div class="h-[7%] w-full relative top-24 flex items-center justify-center gap-[150px]">
		<span class="text-white text-[27px]">Student</span>
		<span class="text-white text-[27px]">Freelancer</span>
		<span class="text-white text-[27px]">Professor</span>
		<span class="text-white text-[27px]">Other</span>
	</div>
	<img class="absolute top-0 left-[25%] -z-10" src="assets/images/prof1[flower].png" alt="image not found"/>
	<img class="absolute top-[18%] -right-24 -z-10" src="assets/images/prof2[spiral].png" alt="image not found"/>
	<img class="absolute -bottom-20 right-40 -z-10" src="assets/images/prof2[fer].png" alt="image not found"/>
	<img class="absolute bottom-0 -left-20 -z-10" src="assets/images/prof3[ball].png" alt="image not found"/>
</div>