<div class="main" style="height: auto; width: 100%;">
	<!-- Navbar -->
	<div class="first_page pb-10 mb-10" style="background-color: #9013fe">
		<div class="absolute w-full h-screen" style="background-color: #9013fe; top: 50px">
			<img src="../../assets/images/Rectangle 42.svg" alt="" class="h-[238px] w-[313px] mt-40 ml-20" />
		</div>
		<div class="flex flex-row justify-between text-white py-8 px-5 relative">
			<div class="flex flex-row justify-center gap-2 align-middle items-center">
				<div><img src="../../assets/images/Rectangle 42.svg" alt="" /></div>
				<div class="font-bold flex-col flex gap-0 text-lg tracking-widest">
					ACADEMIA HUB
					<span class="font-semibold text-xs tracking-normal">
						Learn, Collaborate, Succeed
					</span>
				</div>
			</div>
			<div class="flex gap-5 text-2xl font-bold text-white py-2">
				<div class="hover:cursor-pointer" routerLink="/">Home</div>
				<div class="hover:cursor-pointer" routerLink="/hero-courses">
					Courses
				</div>
				<div class="hover:cursor-pointer">Quiz</div>
				<div class="border-b-2 border-white" routerLink="/hero-about">About</div>
				<div class="hover:cursor-pointer" routerLink="/hero-help">Help</div>
			</div>
			<div class="pr-10">
				<button class="rounded-3xl px-8 py-1 text-black bg-yellow-400 font-bold" routerLink="/signup">
					Login
				</button>
			</div>
		</div>

		<div class="relative text-white text-5xl font-semibold font-['Poppins'] ml-[500px] mt-[80px]">
			Academia Hub
		</div>
		<div
			class="relative text-white text-opacity-70 text-[28px] font-semibold font-['Poppins'] ml-[500px] mt-[20px]">
			The program ensures the <br />participation of the user to mainatin the
			<br />streakboard and provide TechTokens, <br />which helps to reach the
			course Target
		</div>
	</div>

	<div class="founders mt-[140px] pt-40" style="height: auto; width: 100%; background-color: #262626">
		<div class="text-white text-5xl font-semibold font-['Poppins'] flex justify-center items-center">Founders</div>

		<div class="flex items-center ml-20 mt-28">
			<div class="w-[310px] h-[310px] rounded-full bg-gray-200" style="background-image: url(../../assets/images/ghanu.svg); background-size: cover;"></div>
			<div class="ml-14">
				<p class="text-[40px] font-medium text-white">Ghanshyamsinh Zala</p>
				<p class="text-[20px] font-medium mt-2 text-white">Frontend Developer</p>
				<div class="mt-2 w-[287px] h-[39px] flex items-center justify-between pt-4 -ml-2">
					<img src="../../assets/images/figma-icon.svg" alt="Logo 1" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/github-icon.svg" alt="Logo 2" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/insta-icon.svg" alt="Logo 3" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/linkedIn-icon.svg" alt="Logo 4" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/pin-icon.svg" alt="Logo 5" class="w-[38px] h-[38px] " />
				</div>
			</div>
		</div>

		<div class="flex items-center justify-end mr-20">
			<div class="ml-14 text-right text-white">
				<p class="text-[40px] font-medium">Hemang Baldha</p>
				<p class="text-[20px] font-medium mt-2">Backend Developer</p>
				<div class="mt-2 w-[287px] h-[39px] flex items-center justify-between pt-4 -mr-2">
					<img src="../../assets/images/figma-icon.svg" alt="Logo 1" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/github-icon.svg" alt="Logo 2" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/insta-icon.svg" alt="Logo 3" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/linkedIn-icon.svg" alt="Logo 4" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/pin-icon.svg" alt="Logo 5" class="w-[38px] h-[38px] " />
				</div>
			</div>
			<div class="w-[310px] h-[310px] rounded-full bg-gray-200 ml-10" style="background-image: url(../../assets/images/Saly-10.svg); background-size: cover;"></div>
		</div>

		<div class="flex items-center ml-20 mt-10">
			<div class="w-[310px] h-[310px] rounded-full bg-gray-200" style="background-image: url(../../assets/images/shrut.svg); background-size: cover;"></div>
			<div class="ml-14 text-white">
				<p class="text-[40px] font-medium">Shruti Vadgama</p>
				<p class="text-[20px] font-medium mt-2">Frontend Developer</p>
				<div class="mt-2 w-[287px] h-[39px] flex items-center justify-between pt-4 -ml-2">
					<img src="../../assets/images/figma-icon.svg" alt="Logo 1" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/github-icon.svg" alt="Logo 2" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/insta-icon.svg" alt="Logo 3" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/linkedIn-icon.svg" alt="Logo 4" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/pin-icon.svg" alt="Logo 5" class="w-[38px] h-[38px] " />
				</div>
			</div>
		</div>

		<div class="flex items-center justify-end mr-20 mt-10">
			<div class="ml-14 text-white text-right">
				<p class="text-[40px] font-medium">Hetvi Deshani
				<p class="text-[20px] font-medium mt-2">Backend Developer</p>
				<div class="mt-2 w-[287px] h-[39px] flex items-center justify-between pt-4 -mr-2">
					<img src="../../assets/images/figma-icon.svg" alt="Logo 1" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/github-icon.svg" alt="Logo 2" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/insta-icon.svg" alt="Logo 3" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/linkedIn-icon.svg" alt="Logo 4" class="w-[38px] h-[38px]" />
					<img src="../../assets/images/pin-icon.svg" alt="Logo 5" class="w-[38px] h-[38px] " />
				</div>
			</div>
			<div class="w-[310px] h-[310px] rounded-full bg-gray-200 ml-10" style="background-image: url(../../assets/images/hetvi.svg); background-size: cover;"></div>
		</div>
	</div>
	<div class="footer h-fit w-full py-20 relative" style="background-color: #262626;">
		<div class="flex flex-row justify-between text-white p-20 font-thin text-xs ">
			<div class="flex flex-col  gap-3">
				<div class="text-base font-bold">Academia Hub</div>
				<br>
				<div>Pricing</div>
				<div>Updates</div>
				<div>Beta</div>
				<div>Newsletter</div>
				<div>collaboration</div>
			</div>
			<div class="flex flex-col gap-3">
				<div class="text-base font-bold">Product</div>
				<br>
				<div>Business</div>
				<div>Designers</div>
				<div>Classrooms</div>
				<div>Newcorners</div>
			</div>
			<div class="flex flex-col gap-3">
				<div class="text-base font-bold">Learning</div>
				<br>
				<div>Learn Hub</div>
				<div>Manuals</div>
				<div>Tutorials</div>
				<div>Communities</div>
			</div>
			<div class="flex flex-col gap-3">
				<div class="text-base font-bold">Resources</div>
				<br>
				<div>Tutorials</div>
				<div>Editorials</div>
				<div>Product</div>
				<div>Newrooms</div>
			</div>
			<div class="flex flex-col gap-3">
				<div class="text-base font-bold">About</div>
				<br>
				<div>Company</div>
				<div>Careers</div>
				<div>Legal</div>
				<div>Help</div>
			</div>
		</div>
		<div class="flex justify-center w-full text-white flex-col items-center">
			<div class="text-lg font-bold">ACADEMIA HUB</div>
			<div class="text-xs font-thin">Learn, Collaborate, Succeed</div>
			<div class="text-xs font-thin mt-10">&#169; 2024 Academia Hub. All rights reserved.</div>
			<div class="mt-3"><img src="../../assets/images/socials.png" alt=""></div>
		</div>
	</div>
</div>